body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-image:("sky_sunset_nature.jpg");
  background-size: cover;
  max-width: 100%;
  height: 100%;
}

.email-form{
  width: 400px;
  margin: 0 auto;
}
