body, html {
  margin: 0;
  height: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.landingmovie {
  width: 100%;
  min-height: 100%;
}

.video-foreground {
  position: absolute;
  top: 200px;
  color: white;
}

.email-form{
  width: 400px;
  margin: 0 auto;
}

.image-background {
  background: url("../images/shoes.jpg");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
  top: 0px;
}
